################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlantsVsZombies Cheater/PlantsVsZombies Cheater/bin/Debug
/PlantsVsZombies Cheater/obj/Release/PlantsVsZombies Cheater_MarkupCompile.i.lref
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/PlantsVsZombies_Cheater.Properties.Resources.resources
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/PlantsVsZombies Cheater_MarkupCompile.lref
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/PlantsVsZombies Cheater_MarkupCompile.cache
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/PlantsVsZombies Cheater.pdb
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/PlantsVsZombies Cheater.g.resources
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/PlantsVsZombies Cheater.exe
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/PlantsVsZombies Cheater.csprojResolveAssemblyReference.cache
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/PlantsVsZombies Cheater.csproj.GenerateResource.Cache
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/MainWindow.g.cs
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/MainWindow.baml
/PlantsVsZombies Cheater/PlantsVsZombies Cheater/obj/Debug/App.g.cs
/PlantsVsZombies Cheater/obj/Debug/PlantsVsZombies Cheater_MarkupCompile.i.lref
